@import "compass/css3/transition";

@media (min-width: 530px) {
    // body {
    //     min-height: 600px;
    // }

    .bg-img {
        width: 38.2%;
        min-width: 180px;
        height: 100%;
        float: left;
        position: fixed;
    }

    .content {
        width: 61.8%;
        height: 100%;
        // min-height: 600px;
        position: relative;
        float: left;
        margin-left: 38.2%;
        padding: 40px 20px 0 40px;
        border-top: 0;
        border-left: 1px solid $border-color;
        text-align: left;

        // -webkit-box-shadow: -8px 0 10px -8px #666;
        //    -moz-box-shadow: -8px 0 10px -8px #666;
        //         box-shadow: -8px 0 10px -8px #666;

        .name {
            max-width: 470px;
            font-size: 36px;
        }

        .about {
            max-width: 470px;
            margin: 15px 0 60px;
            font-size: 26px;
        }

        .info {
            max-width: 470px;
            font-size: 18px;
            line-height: 1.5;
        }

        .partners {
            max-width: 470px;

            a,
            a:hover {
                border: 0;
                background: $bg-color;
            }

            img {
                margin: 0 10px;
            }
        }

        .copy {
            width: auto;
            // position: absolute;
            // top: auto;
            // bottom: 20px;
            // left: auto;
            // right: auto;
        }

        a {
            padding: 0 3px;
            border-bottom: 1px solid $link-color;
            text-decoration: none;

            @include transition-duration(0.15s);

            &:hover {
                border-bottom: 0;
                border-radius: 3px;
                color: $bg-color;
                background: $link-color;
            }
        }
    }
}

@media (min-width: 760px) {
    .content {
        .partners {
            img {
                margin: 0 20px;
            }
        }
    }
}
