body {
    font-family: 'PT Serif', serif;
    font-weight: 300;
    color: $text-color;
    background: $bg-color;
}

.bg-img {
    width: 100%;
    height: 100px;
    overflow: hidden;
    background: $bg-color url(../img/bg.jpg) center center no-repeat;
    background-size: cover;
}

.content {
    width: 100%;
    padding: 0 30px 0;
    border-top: 1px solid $border-color;
    text-align: center;
    background: $bg-color;

    // -webkit-box-shadow: 0 -8px 10px -8px #666;
    //    -moz-box-shadow: 0 -8px 10px -8px #666;
    //         box-shadow: 0 -8px 10px -8px #666;

    .name {
        max-width: 100%;
        margin-bottom: 0;
        font-size: 32px;
        font-weight: 300;
    }

    .about {
        max-width: 100%;
        margin: 5px 0 20px;
        font-size: 24px;
        font-weight: 300;
    }

    .info {
        max-width: 100%;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        line-height: 1.4;
    }

    .partners {
        margin-top: -20px;
        text-align: center;

        img {
            display: inline-block;
            width: 100%;
            max-width: 150px;
        }
    }

    .copy {
        width: 80%;
        position: relative;
        top: 20px;
        margin: 0 auto;
        padding-bottom: 30px;
        color: #cfcfcf;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
    }

    .nowrap {
        white-space: nowrap;
    }

    a {
        color: $link-color;
        white-space: nowrap;
    }
}
